section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  
}
@keyframe text {
 from { 
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transiton: all 1s;}
  to {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);}


};
.hiden {

  filter: blur(5px);
  transform: translate(-100%);
  transiton: all 1s;
  
}


.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}
