@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@keyframes example {
0% {color: red;}
15%{color: yellow;}
30%{color: blue;}
45%{color: green;}
50%{color: yellow;}
51%{color: red;}
75%{color: blue;}
95%{color: green;}
100%{color: yellow;}
}


/* Apply the animation to an element */
body {
 
  background-color: #0E0E10;

}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color:#F7F7F8;
    border: 50;
    z-index: 10;
    text-align: center;
} 
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    text-decoration: underline;
    color: rgb(0, 140, 255);
}

body{
    background-color: rgb(52, 44, 52);
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: aliceblue;
 margin: 0px;
    padding: 0px;
}
h1{
 position:absolute;
 top:100;
  left:0;
}
div#coloring{
 font-size:60px;
   background-color: red;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
