@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@keyframes example {
0% {background-color: red;}
15%{background-color: yellow;}
30%{background-color: blue;}
45%{background-color: green;}
50%{background-color: yellow;}
51%{background-color: red;}
75%{background-color: blue;}
95%{background-color: green;}
100%{background-color: yellow;}
}

@animation text{
 to {
  scroll: 1 1;
 }
}
/* Apply the animation to an element */
body {
 
  background-color: red;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: white;
    border: 50;
    z-index: 10;
    text-align: center;
} 
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    text-decoration: underline;
    color: rgb(0, 140, 255);
}
#row {
  position: absolute;
  top: 100px;
  left: 70px;
  margin: 16px;
  padding: 16px;
  width: 700px;
 scroll: 0 1;
}
body{
    background-color: rgb(52, 44, 52);
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: aliceblue;
}
